* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(45deg, #40a8ee 50%, #199cf3 50%);
}

.container{
    position: relative;
    background: white;
    border-radius: 30px;
    width: 700px;
    height: 350px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.progress p{
    position: absolute;
    right: 40px;
    margin-top: -12px;
    font-size: 24px;
}
.progress h6{
    margin-top: -6px;
    font-size: 18px;
    letter-spacing: 1px;
}
.progress-bar span{
    position: absolute;
    transform: translateY(-20px) translateX(-10px);
    left: 0;
    width: 25px;
    height: 25px;
    background: white;
    border: 6px solid rgba(255, 0, 85);
    border-radius: 50%;
}

.container h1 {
    letter-spacing: 1px;
}

.container .progress{
    display: flex;
    width: 100%;
    margin: 50px auto;
}

.progress .progress-bar{
    position: absolute;
    left: 150px;
    width: 60%;
    height: 15px;
    border-radius: 30px;
    background: rgba(226, 226, 226);
}

.progress-bar div{
    width: 0%;
    height: 100%;
    background: rgba(255, 0, 85);
    border-radius: 30px;
}

